// html {
//   scroll-snap-type: y mandatory;
// }

html,
body,
section {
  block-size: 100%;
}
body {
  position: relative;
  margin: 0;
  font-family: system-ui, sans-serif;
  // font-size: 4rem;
}
header {
  position: sticky;
  height: 50px;
}
section {
  scroll-snap-align: start;
  scroll-snap-stop: always;

  display: flex;
  align-items: center;
  justify-content: center;

  &:nth-of-type(even) {
    color: white;
    background: black;
  }
  &:nth-of-type(odd) {
    color: black;
    background: white;
  }
}
