<header class="header">
  <div class="company-logo">
    <a class="company-logo_link" href="index.html">
      <img class="company-logo_img"src="../../dist/images/logo_angry-dog.png" alt="BeastWorker" width="70px">
    </a>
  </div>
  <nav class="navbar">
    <ul class="nav-list">
      <li class="nav-item">
        <a href="index.html" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="about.html" class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a href="contacts.html" class="nav-link">Contacts</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Shop</a>
      </li>
    </ul>
  </nav>
  <div class="menu-toggle">
    <i class="bx bx-menu"></i>
    <i class="bx bx-x"></i>
  </div>
</header>
