@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

/* -------------------------------------------------------------------------- */
/*                                  VARIABLES                                 */
/* -------------------------------------------------------------------------- */
:root {
  --primary-color: hsl(9, 94%, 61%);
  --primary-color-alt: hsl(28, 72%, 83%);
  --second-color: #3e537c;
  --second-color-alt: hsla(220, 33%, 36%, 65%);
  --third-color: hsl(220, 36%, 28%);
  --white-color: #fbfbfb;
  --white-color-alt: hsl(12, 14%, 93%);
  --dark-color: hsla(276, 10%, 27%, 61%);
  --overlay-color: rgba(0, 0, 0, 0.92);

  --transition: 0.3s cubic-bezier(0.7, 1, 0.45, 0.6);
  --transition-slow: 0.45s cubic-bezier(0.7, 1, 0.45, 0.6);

  --color-btn: #1e9bff;
  --color-btn-red: #ff1867;
  --color-btn-green: #6eff3e;

  --font-size: 1; // Scale is using font-size in rems;
  --color1: #f0ffff;
  --borderRadius: 1em;
}

/* -------------------------------------------------------------------------- */
/*                                COMMON-STYLES                               */
/* -------------------------------------------------------------------------- */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: var(--dark-color);
  font-weight: 400;
  min-height: 100vh;
  &.overlay {
    overflow: hidden;
    transform: translate(0);
    background-color: var(--overlay-color);
  }
}
img {
  height: auto;
}
h1,
h2,
h3 {
  font-weight: 300;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* -------------------------------------------------------------------------- */
/*                                  CONTAINER                                 */
/* -------------------------------------------------------------------------- */
.section {
  padding: 0 60px;
}
.container {
  @media (max-width: 1199px) {
    min-width: calc(33.333333333333% - 20px);
  }
  @media (max-width: 991px) {
    min-width: calc(50% - 20px);
  }
  @media (max-width: 575px) {
    min-width: calc(100% - 20px);
  }
}

/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */
/* -------------------------------------------------------------------------- */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark-color);
}

.company-logo {
  position: relative;
  
  &::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
    bottom: 3px;
    width: 30px;
    height: 5px;
    background: #f00;
    border-radius: 20px;
    box-shadow: 0 0 5px #f00, 0 0 15px #f00, 0 0 30px #f00,
		0 0 60px #f00;
    transition: var(--transition-slow);
  }

  &:hover,
  &:focus {
    & .company-logo_link {
      letter-spacing: 3px;
    } 
    & .company-logo_link::before {
      transform: skewX(45deg) translate(200px);
    }
    &::before /*lightup button*/ {
      bottom: 0;
      height: 90%;
      width: 80%;
      border-radius: 40px;
    }
  }
}

.company-logo_link {
  display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 8px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	color: #fff;
	font-weight: 400px;
	z-index: 2;
	transition: var(--transition-slow);
	backdrop-filter: blur(10px);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
    transform: skewX(45deg) translate(0);
    filter: blur(0px);
    // z-index: 1;
    transition: var(--transition-slow);
  }
}

/* -------------------------------------------------------------------------- */
/*                                 NAVIGATION                                 */
/* -------------------------------------------------------------------------- */
.navbar {
  & > ul {
    list-style: none;
    padding: 0;
    margin: 0;

    @media screen and (max-width: 399px) {
      margin-bottom: 15px;
    }
    @media screen and (min-width: 400px) {
      display: flex;
      justify-content: space-evenly;
    }
  }
}
.nav-list {
	display: flex;
	flex-wrap: wrap;
}
.nav-item {
  position: relative;
	min-width: 120px;
	height: 40px;
	margin: 0;
}
.nav-link {
  position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgba(255, 255, 255, 0.05);
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	border-top: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: 30px;
	padding: 10px;
	letter-spacing: 1px;
	text-decoration: none;
	overflow: hidden;
	color: #fff;
	font-weight: 400px;
	z-index: 1;
	backdrop-filter: blur(10px);
  transition: var(--transition-slow);
}
.nav-list .nav-item:hover .nav-link {
	letter-spacing: 3px;
  transition: var(--transition-slow);
}
.nav-list .nav-item .nav-link::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
	transform: skewX(45deg) translate(0);
	filter: blur(0px);
  transition: var(--transition-slow);
}
.nav-list .nav-item:hover .nav-link::before {
	transform: skewX(45deg) translate(200px);
  filter: blur(5px);
}
.nav-list .nav-item::before {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	bottom: -5px;
	width: 30px;
	height: 5px;
	background: #f00;
	border-radius: 10px;
	transition: var(--transition-slow);
}
.nav-list .nav-item:hover::before /*lightup button*/ {
	bottom: 10px;
	height: 45%;
	width: 55%;
	border-radius: 35px;
}
.nav-list .nav-item::after {
	content: "";
	position: absolute;
	left: 50%;
	transform: translatex(-50%);
	top: -5px;
	width: 30px;
	height: 5px;
	background: #f00;
	border-radius: 10px;
	transition: var(--transition-slow);
}
.nav-list .nav-item:hover::after /*lightup button*/ {
	top: 0;
	height: 50%;
	width: 80%;
	border-radius: 30px;
}
.nav-list .nav-item:nth-child(1)::before, /*chnage 1*/
.nav-list .nav-item:nth-child(1)::after {
	background: #c208b9;
	box-shadow: 0 0 5px #c208b9, 0 0 15px #c208b9, 0 0 30px #c208b9,
		0 0 60px #c208b9;
}
.nav-list .nav-item:nth-child(2)::before, /* 2*/
.nav-list .nav-item:nth-child(2)::after {
	background: #2db2ff;
	box-shadow: 0 0 5px #2db2ff, 0 0 15px #2db2ff, 0 0 30px #2db2ff,
		0 0 60px #2db2ff;
}
.nav-list .nav-item:nth-child(3)::before, /* 3*/
.nav-list .nav-item:nth-child(3)::after {
	background: #1eff45;
	box-shadow: 0 0 5px #1eff45, 0 0 15px #1eff45, 0 0 30px #1eff45,
		0 0 60px #1eff45;
}
.nav-list .nav-item:nth-child(4)::before, /* 3*/
.nav-list .nav-item:nth-child(4)::after {
	background: #ffe51e;
	box-shadow: 0 0 5px #ffe51e, 0 0 15px #ffe51e, 0 0 30px #ffe51e,
		0 0 60px #ffe51e;
}

.menu-toggle {
  display: none;
  
}
.burger {
  position: relative;
  padding: 2.5rem 1rem;
  z-index: 3;
  font-size: var(--font-size);
  // transform: translateY(100%);
  cursor: pointer;

  &.showHitArea {
    border: 1px solid olive;
  }
  & > div {
    width: 3rem;
    height: 0.4rem;
    border-radius: var(--borderRadius);
    background: var(--color1);

    &::before,
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 3rem;
      height: 0.4rem;
      background-color: var(--color1);
      border-radius: var(--borderRadius);
      transition: font-size var(--transition-slow), background-color var(--transition-slow), border-radius var(--transition-slow);
    }
    &::before {
      margin-top: -0.3rem;
    }
    &::after {
      margin-top: 0.3rem;
    }
  }
}
.burger2 {
  & > div {
    transition: background-color var(--transition-slow), font-size var(--transition-slow);
    &::before,
    &::after {
      transition: font-size var(--transition-slow);
      transform-origin: center center;
    }
  }
  &.toggled {
    > div::before {
      animation: burg2top var(--transition-slow) forwards;
    }
    > div {
      background-color: transparent;
    }
    > div::after {
      animation: burg2bottom var(--transition-slow) forwards;
    }
  }
  &.unToggled {
    > div::before {
      animation: burg2topReset var(--transition-slow) forwards;
    }
    > div {
      background-color: var(--color1);
    }
    > div::after {
      animation: burg2bottomReset var(--transition-slow) forwards;
    }
  }

  @keyframes burg2top {
    0% {
    }
    20% {
      margin-top: 0;
      transform: rotate(0deg);
    }
    60% {
      margin-top: 0;
      transform: rotate(55deg);
    }
    100% {
      margin-top: 0;
      transform: rotate(45deg);
    }
  }
  @keyframes burg2bottom {
    0% {
    }
    20% {
      margin-top: 0;
      transform: rotate(0deg);
    }
    60% {
      margin-top: 0;
      transform: rotate(-55deg);
    }
    100% {
      margin-top: 0;
      transform: rotate(-45deg);
    }
  }
  @keyframes burg2topReset {
    0% {
      margin-top: 0;
      transform: rotate(45deg);
    }
    20% {
      transform: rotate(0deg);
    }
    60% {
      margin-top: 1.3rem;
      transform: rotate(0deg);
    }
    100% {
      margin-top: 1.3rem;
      transform: rotate(0deg);
    }
  }
  @keyframes burg2bottomReset {
    0% {
      margin-top: 0;
      transform: rotate(-45deg);
    }
    20% {
      transform: rotate(0deg);
    }
    60% {
      margin-top: -1.3rem;
      transform: rotate(0deg);
    }
    100% {
      margin-top: -1.3rem;
      transform: rotate(0deg);
    }
  }
}

/* -------------------------------------------------------------------------- */
/*                                   Footer                                   */
/* -------------------------------------------------------------------------- */
footer {
  background: #282828;
  color: beige;
  flex: 1 0 auto;

  & > ul {
    list-style: none;
    padding: 0;
    margin: 0;

    @media screen and (max-width: 399px) {
      margin-bottom: 15px;
    }
    @media screen and (min-width: 400px) {
      display: flex;
      justify-content: space-evenly;
    }
  }
}
footer a {
  color: beige;
}
footer > ul > li {
  display: block;
}
footer > ul > li > a {
  display: block;
  font-size: 21px;
  padding: 10px 20px;
}
.spacer {
  flex: 2 1 auto;
}

/* -------------------------------------------------------------------------- */
/*                                MEDIA QUERIES                               */
/* -------------------------------- MAX-WIDTH ------------------------------- */
/* -------------------------------------------------------------------------- */
/* */
@media screen and (max-width: 768px) {
  .section {
    padding: 0 10px;
  }
  .slogan {
    padding: 0 20px;
  }
 /* --------------------------------- HEADER --------------------------------- */
  header {
    padding: 0.5rem 1rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
  }
  .company-logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 4;
  }
  .navbar {
    background-color: var(--dark-color);
    position: absolute;
    top: 0;
    right: 0;
    // width: 100%;
    // height: 100vh;
    // display: flex;
    // justify-content: center;
    transform: scale(0);
    transform-origin: top;
    transition: var(--transition-slow);
    z-index: 3;

    & .nav-item {
      width: 150px;
    }
  }
  .show-navbar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    // display: flex;
    background-color: var(--overlay-color);
    transform: scale(1);
    transform-origin: right;
    transition: var(--transition-slow);
      
    & .nav-list {
      display: flex;
      flex-direction: column;
    }
  }
  .menu-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    display: block;
    
  }
  .wrapper-1 {
    padding: 5rem 5rem 0 5rem;
  }
  .home-computer-container {
    padding-top: 25px;
  }
}

/* -------------------------------------------------------------------------- */
/* -------------------------------- MIN-WIDTH ------------------------------- */
/* -------------------------------------------------------------------------- */
@media screen and (min-width: 769px) {
  /* --------------------------------- HEADER --------------------------------- */
  header {
    padding: 1.5rem 5rem;
  }
  .nav-item {
      &:not(:last-child) {
      margin-right: 15px;
    }
  }
  /* ------------------------------ HOME SECTION ------------------------------ */
  .wrapper-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10rem 5rem 5rem 5rem;
    align-items: center;
    justify-items: center;
  }
  .slogan .company-title {
    max-width: 30rem;
    font-size: 1.8rem;
    letter-spacing: 0.5rem;
  }
  .slogan .company-slogan {
    max-width: 20rem;
    font-size: 1.3rem;
  }
  
/* ------------------------------ OFFER SECTION ----------------------------- */
  .offer {
    margin-bottom: 5rem;
    align-items: center;
    justify-content: space-between;
    grid-template-rows: auto auto;
  }
  .offer-1 {
    grid-template-areas: 'offer-1-img offer-desc-1';
  }
  .offer-1 img {
    background-color: var(--dark-color);
    padding: 2rem 0;
  }
  .offer-2 {
    grid-template-areas: 'offer-desc-2 offer-2-img';
  }
  .offer-1-img {
    grid-area: offer-1-img;
  }
  .offer-2-img {
    grid-area: offer-2-img;
  }
  .offer-desc-1 {
    grid-area: offer-desc-1;
  }
  .offer-desc-2 {
    grid-area: offer-desc-2;
  }
  .offer-description .offer-title {
    font-size: 1.9rem;
    padding: 1.5rem 0 0.5rem 0;
  }
  .offer-description .offer-hook {
    max-width: 30rem;
  }
  .offer-description {
    background-color: var(--white-color-alt);
    padding: 2rem 1rem;
  }
  .offer-description .offer-title {
    padding: 0.5rem 0 1rem 0;
  }
  .offer-description .cart-btn {
    margin: 2rem 0 0.5rem 0;
  }

 /* ----------------------------- PRODUCT SECTION ---------------------------- */
  .wrapper-3 {
    gap: 1rem;
  }
  .product::before {
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform var(--transition-slow);
  }
  .product:hover::before {
    transform: scaleY(1);
    transform-origin: top;
  }
  .product_add_cart {
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform var(--transition-slow);
  }
  .product:hover .product_add_cart {
    transform: translate(-50%, -50%) scaleY(1);
    transform-origin: top;
  }

  /* ---------------- SPONSOR SECTION ---------------- */
  // .section-4 {
  //   margin: 5rem 0;
  // }

 /* ---------------------------- SUBSCRIBE SECTION --------------------------- */
  .wrapper-5 {
    padding: 1rem 0;
  }
  .wrapper-5 .subscribe-container {
    display: flex;
    align-items: center;
  }
  input[type='text'] {
    padding: 0 1rem;
    width: 15rem;
  }
  input[type='submit'] {
    width: 10rem;
  }

/* --------------------------------- FOOTER --------------------------------- */
  .top-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 4rem;
    padding-top: 2rem;
  }
  .footer-title {
    font-size: 1rem;
    padding: 1rem 0;
  }
  .footer-items h3 {
    font-size: 0.9rem;
  }
  .end-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: var(--third-color);
  }
  .copyright {
    color: hsla(0, 0%, 98%, 0.747);
    padding: 1rem 0;
    font-size: 0.8rem;
  }
  .copyright b {
    font-size: 0.7rem;
  }
  .designer {
    color: hsla(0, 0%, 98%, 0.322);
    font-size: 0.8rem;
  }
}