// html,
// body {
//   height: 100vh;
// }
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: hsl(9, 94%, 61%);
  --primary-color-alt: hsl(28, 72%, 83%);
  --second-color: #3e537c;
  --second-color-alt: hsla(220, 33%, 36%, 65%);
  --third-color: hsl(220, 36%, 28%);
  --white-color: #fbfbfb;
  --white-color-alt: hsl(12, 14%, 93%);
  --dark-color: hsl(300, 100%, 0%);
}
.bx {
  font-size: 2.5rem;
}
.section {
  padding: 0 1rem;
}

body {
  background-color: var(--white-color);
  color: #2c302f;
  font-weight: 400;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  // display: flex;
  // flex-direction: column;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

h1,
h2,
h3 {
  font-weight: 300;
  margin: 0;
}

// ============= NAVIGATION ================

nav {
  display: block;
  background-color: black;
  color: white;
  padding: 7px;

  & > ul {
    list-style: none;
    padding: 0;
    margin: 0;

    @media screen and (max-width: 399px) {
      margin-bottom: 15px;
    }

    @media screen and (min-width: 400px) {
      display: flex;
      justify-content: space-evenly;
    }
  }
}

nav > ul > li {
  display: block;
}

nav > ul > li > a {
  display: block;
  color: beige;
  font-size: 18px;
  padding: 10px 20px;
  font-weight: bold;
  text-shadow: 0 -1px black;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.1);
}

// ============== CONTAINER ===============
.container {
  @media (max-width: 1199px) {
    min-width: calc(33.333333333333% - 20px);
  }
  @media (max-width: 991px) {
    min-width: calc(50% - 20px);
  }
  @media (max-width: 575px) {
    min-width: calc(100% - 20px);
  }
}

// .page-title {
//   font-size: 6em;
//   font-weight: bold;
//   text-align: center;
//   word-break: break-all;
//   line-height: 0.85;

//   & > i {
//     display: block;
//     font-size: 2em;
//     margin-bottom: 15px;
//   }
// }

// ============= FOOTER ================
// footer {
//   background: #282828;
//   color: beige;
//   flex: 1 0 auto;
//   padding: 20px 0px;

//   & > ul {
//     list-style: none;
//     padding: 0;
//     margin: 0;

//     @media screen and (max-width: 399px) {
//       margin-bottom: 15px;
//     }
//     @media screen and (min-width: 400px) {
//       display: flex;
//       justify-content: space-evenly;
//     }
//   }
// }

// footer a {
//   color: beige;
// }

// footer > ul > li {
//   display: block;
// }

// footer > ul > li > a {
//   display: block;
//   font-size: 21px;
//   padding: 10px 20px;
// }

// .spacer {
//   flex: 2 1 auto;
// }
